@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.custom-nav-link {
    color: #323f4b !important;
    font-family: "Roboto";
}

.food-munch-logo {
    width: 80px;
    height: 70px;
    transition: all 0.5s;
}

.nav-link {
    color: black !important;
}

.banner-section-bg-container {
    background-image: url("https://d2clawv67efefq.cloudfront.net/ccbp-responsive-website/foodmunch-banner-bg.png");
    height: 100vh;
    background-size: cover;
}

.banner-heading {
    color: white;
    font-family: "Roboto";
    font-size: 40px;
    font-weight: 300;
}

.banner-caption {
    color: #f5f7fa;
    font-family: "Roboto";
    font-size: 25px;
    font-weight: 300;
}

.custom-button {
    width: 130px;
    height: 45px;
    color: #ffffff;
    background-color: #d0b200;
    border-width: 0;
    border-radius: 8px;
    margin-right: 10px;
}

.custom-outline-button {
    width: 130px;
    height: 45px;
    color: #d0b200;
    background-color: transparent;
    border-width: 1px;
    border-style: solid;
    border-color: #d0b200;
    border-radius: 8px;
}

.wcu-section {
    background-color: #f9fbfe;
}

.wcu-section-heading {
    color: #183b56;
    font-family: "Roboto";
    font-size: 28px;
    font-weight: 700;
}

.wcu-section-description {
    color: #5a7184;
    font-family: "Roboto";
    font-size: 16px;
}

.wcu-card {
    text-align: center;
    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-color: #e5eaf4;
    border-radius: 16px;
    transition: all 0.4s;
}

.wcu-card:hover {
    transform: scale(1.15);
}

.wcu-card-image {
    width: 87px;
    height: 90px;
}

.wcu-card-title {
    color: #323f4b;
    font-family: "Roboto";
    font-size: 22px;
    font-weight: 500;
}

.wcu-card-description {
    color: #7b8794;
    font-family: "Roboto";
    font-size: 16px;
}

.offers {
    color: #323f4b;
    font-style: italic;
    font-weight: 600;
}

.explore-menu-section {
    background-color: white;
}

.menu-section-heading {
    font-family: "Roboto";
    font-weight: 700;
    font-size: 28px;
    color: #183b56;
}

.menu-item-image {
    border-radius: 16px;
    width: 290px;
    height: 300px;
}

.menu-card-title {
    color: #323f4b;
    font-family: "Roboto";
    font-weight: 500;
    font-size: 18px;
    margin-top: 24px;
}

.menu-item-link {
    color: #d0b200;
    font-family: "Roboto";
    font-weight: 500;
    font-size: 14px;
}

.menu-item-card {
    border-radius: 16px;
    transition: all 0.3s;
}

.menu-item-card:hover {
    transform: scale(1.1);
}

.healthy-food-section {
    background-color: #f9fbfe;
}

.healthy-food-section-img {
    width: 270px;
    transition: all 0.6s;
}

.healthy-food-section-img:hover {
    transform: scale(1.35);
}

.healthy-food-section-heading {
    color: #183b56;
    font-family: "Roboto";
    font-size: 28px;
    font-weight: 700;
}

.healthy-food-section-description {
    color: #5a7184;
    font-family: "Roboto";
    font-size: 16px;
}

.custom-button {
    color: white;
    background-color: #d0b200;
    width: 130px;
    height: 45px;
    border-width: 0;
    border-radius: 8px;
    margin-right: 10px;
}

.delivery-and-payment-section {
    background-color: white;
}

.delivery-and-payment-section-img {
    width: 270px;
    transition: all 0.6s;
}

.delivery-and-payment-section-img:hover {
    transform: scale(1.35);
}

.delivery-and-payment-section-heading {
    color: #183b56;
    font-family: "Roboto";
    font-size: 28px;
    font-weight: 700;
}

.delivery-and-payment-section-description {
    color: #5a7184;
    font-family: "Roboto";
    font-size: 16px;
}

.payment-card-img {
    width: 50px;
    height: 50px;
    margin-right: 28px;
    transition: all 0.5s;
}

.payment-card-img:hover {
    transform: scale(1.55);
}

.custom-button {
    color: white;
    background-image: linear-gradient(#d0b200, #a58d00);
    width: 130px;
    height: 45px;
    border-width: 0;
    border-radius: 8px;
    margin-right: 10px;
}

.thanking-customers-section {
    background-image: radial-gradient(#fff8db, #fae38c);
}

.thanking-customers-section-heading {
    color: #183b56;
    font-family: "Roboto";
    font-size: 28px;
    font-weight: 700;
}

.thanking-customers-section-description {
    color: #5a7184;
    font-family: "Roboto";
    font-size: 16px;
}

.thanking-customers-section-modal-title {
    color: #d0b200;
    font-weight: 800;
}

.thanking-customers-section-img {
    width: 270px;
    margin-bottom: 20px;
    transition: all 0.5s;
}

.thanking-customers-section-img:hover {
    transform: scale(1.25);
}

.custom-button {
    color: white;
    background-color: #d0b200;
    width: 130px;
    height: 45px;
    border-width: 0;
    border-radius: 8px;
    margin-right: 10px;
}

.follow-us-section-heading {
    color: #183b56;
    font-family: "Roboto";
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}

.icon {
    color: #d0b200;
    font-size: 30px;
}

.follow-us-icon-container {
    width: 70px;
    height: 70px;
    background-color: #faf7e8;
    padding-top: 22px;
    padding-bottom: 14px;
    padding-right: 16px;
    padding-left: 22px;
    margin: 15px;
    border-radius: 40px;
    transition: all 0.5s;
}

.follow-us-icon-container:hover {
    transform: scale(1.25);
}

.footer-section {
    background-color: #0d2436;
}

.footer-section-mail-id {
    color: #959ead;
    font-family: "Roboto";
    font-weight: bold;
    font-size: 16px;
    margin-top: 20px;
}

.footer-section-address {
    color: #959ead;
    font-family: "Roboto";
    font-size: 14px;
}

.manoj {
    font-weight: bold;
}